// ************************************************************************************************************************
// * Package -> Core                                                                                                      *
// ************************************************************************************************************************

// --------------------------------------------------------- //
// Variables                                              
// --------------------------------------------------------- //

    @import "vars";

// --------------------------------------------------------- //
// Config                                              
// --------------------------------------------------------- //
    
    // Shared (Unique to Base)

    @import "../../shared";

    // Grid (Unique to Base)

    @import "../../depot/grid/grid-a";

    // References (Unique to Base)

    @import "../../config";

    // Block

    $config-breadcrumb: true;
    $config-definition: true;
    $config-figure: true;
    $config-gallery: true;
    $config-infograph: true;
    $config-list: true;
    $config-media: true;
    $config-pagination: true;
    $config-poll: true;
    $config-rating: true;
    $config-search: true;
    $config-social: true;
    $config-tab: true;
    $config-table: true;
    $config-userAction: true;

    // Plugin

    $config-avatar: true;
    $config-base: true;
    $config-comments: true;
    $config-header: true;
    $config-login: true;
    $config-nav: true;
    $config-notifications: true;
    $config-pm: true;
    $config-user: true;

    // Layout

    @import "layout";