// ************************************************************************************************************************
// Package - News & Forum - Layout                                                                                        *
// ************************************************************************************************************************

// --------------------------------------------------------- //
// 1.) Window                                                  
// --------------------------------------------------------- //

    body { background-color: $body-bgColor; background: $body-bg; }

// --------------------------------------------------------- //
// 2.) Site Wrapper                                            
// --------------------------------------------------------- //

    #site {
        background: $wrapper-bg;
        padding: $wrapper-padding;
    }

    #site-main {
        @include group;
        background: $site-bg;
        margin: $site-margin;
        padding: $site-padding;
        position: relative;
        max-width: $site-maxWidth;
        min-width: $site-minWidth;
        width: $site-width;
    }

    #site-main > * { @include group; margin-left: $site-gutterLeft; margin-right: $site-gutterRight; } // Set gutters

// --------------------------------------------------------- //
// 3.) Columns                                                 
// --------------------------------------------------------- //

    // Base

    .primary-content { @include col(8); }
    .secondary-content { @include col(4); }

    // Primary + Secondary

    .primary-content:first-child { margin-left: 0; }

    .primary-content + .secondary-content { padding: $secondaryContent-padding; }

    // Secondary + Primary

    .secondary-content:first-child { margin-left: 0; }

    // Single

    .single-column .primary-content { @include col(12); }

// --------------------------------------------------------- //
// 4.) Content                                                 
// --------------------------------------------------------- //

    #content, .atf {
	    background: $content-bg;
        @include multipleBg-border($borderBg-path,$borderBg-color,$borderBg-width,$borderBg-style);
        
        .hide-ads & { border-bottom-width: 0; border-top-width: 0; }
    }

    #content {
        @include group;
        @include borderRadius($content-borderRadius);
        padding: $content-padding;

        .single-column & { background: $content-bgSingle; @include multipleBg-border($borderBg-path,$borderBg-color,$borderBg-width,$borderBg-style); }
    }

    .atf {
        background: $atf-bg;
        border-bottom-width: 0;
        border-top-width: 0;
        margin: $atf-margin $atf-margin $atf-marginBottom;
    }