// ************************************************************************************************************************
// * Configuration                                                                                                        *
// ************************************************************************************************************************

// --------------------------------------------------------- //
// 1.) Imports                                                 
// --------------------------------------------------------- //

    // Blocks

    @import "depot/block/b-breadcrumb-a";
    @import "depot/block/b-definition-a";
    @import "depot/block/b-figure-a";
    @import "depot/block/b-gallery-a";
    @import "depot/block/b-infograph-a";
    @import "depot/block/b-infograph-b";
    @import "depot/block/b-list-a";
    @import "depot/block/b-list-b";
    @import "depot/block/b-media-a";
    @import "depot/block/b-pagination-a";
    @import "depot/block/b-pagination-b";
    @import "depot/block/b-pagination-c";
    @import "depot/block/b-poll-a";
    @import "depot/block/b-rating-a";
    @import "depot/block/b-search-a";
    @import "depot/block/b-search-b";
    @import "depot/block/b-shoutbox-a";
    @import "depot/block/b-social-a";
    @import "depot/block/b-tab-a";
    @import "depot/block/b-tab-b";
    @import "depot/block/b-table-a";
    @import "depot/block/b-tag-a";
    @import "depot/block/b-tagCloud-a";
    @import "depot/block/b-userAction-a";

    // Plugins

    @import "depot/plugin/p-article-a";
    @import "depot/plugin/p-attachments-a";
    @import "depot/plugin/p-avatar-select-a";
    @import "depot/plugin/p-base-a";
    @import "depot/plugin/p-base-b";
    @import "depot/plugin/p-browser-a";
    @import "depot/plugin/p-browser-b";
    @import "depot/plugin/p-comments-a";
    @import "depot/plugin/p-comments-b";
    @import "depot/plugin/p-filters-a";
    @import "depot/plugin/p-forum-a";
    @import "depot/plugin/p-header-a";
    @import "depot/plugin/p-header-b";
    @import "depot/plugin/p-gallery-a";
    @import "depot/plugin/p-guide-a";
    @import "depot/plugin/p-infractions-a";
    @import "depot/plugin/p-login-a";
    @import "depot/plugin/p-mapper-a";
    @import "depot/plugin/p-nav-a";
    @import "depot/plugin/p-nav-b";
    @import "depot/plugin/p-notifications-a";
    @import "depot/plugin/p-pm-a";
    @import "depot/plugin/p-user-a";
    @import "depot/plugin/p-result-a";
    @import "depot/plugin/p-streams-a";
    @import "depot/plugin/p-talentCalc-a";
    @import "depot/plugin/p-tournament-a";
    @import "depot/plugin/p-widget-a";

    // Themes

    @import "depot/theme/t-netbar";
    @import "depot/theme/t-footer";
    @import "depot/theme/t-ad";

    // Triggers

    $config-breadcrumb: false !default;
    $config-definition: false !default;
    $config-figure: false !default;
    $config-gallery: false !default;
    $config-infograph: false !default;
    $config-list: false !default;
    $config-media: false !default;
    $config-pagination: false !default;
    $config-poll: false !default;
    $config-rating: false !default;
    $config-search: false !default;
    $config-shoutbox: false !default;
    $config-social: false !default;
    $config-tab: false !default;
    $config-table: false !default;
    $config-tag: false !default;
    $config-tagCloud: false !default;
    $config-userAction: false !default;

    // Plugin

    $config-article: false !default;
    $config-attachments: false !default;
    $config-avatar: false !default;
    $config-base: false !default;
    $config-browser: false !default;
    $config-comments: false !default;
    $config-filters: false !default;
    $config-forum: false !default;
    $config-guide: false !default;
    $config-header: false !default;
    $config-infractions: false !default;
    $config-login: false !default;
    $config-mapper: false !default;
    $config-nav: false !default;
    $config-notifications: false !default;
    $config-pm: false !default;
    $config-result: false !default;
    $config-streams: false !default;
    $config-talentCalc: false !default;
    $config-tournament: false !default;
    $config-user: false !default;
    $config-widget: false !default;

// END configuration