// --------------------------------------------------------- //
// 1.) Init
// --------------------------------------------------------- //

    @mixin init(

        // Block

        $breadcrumb: $config-breadcrumb,
        $definition: $config-definition,
        $figure: $config-figure,
        $gallery: $config-gallery,
        $infograph: $config-infograph,
        $list: $config-list,
        $media: $config-media,
        $pagination: $config-pagination,
        $poll: $config-poll,
        $rating: $config-rating,
        $search: $config-search,
        $shoutbox: $config-shoutbox,
        $social: $config-social,
        $tab: $config-tab,
        $table: $config-table,
        $tag: $config-tag,
        $tagCloud: $config-tagCloud,
        $userAction: $config-userAction,

        // Plugin

        $article: $config-article,
        $attachments: $config-attachments,
        $avatar: $config-avatar,
        $base: $config-base,
        $browser: $config-browser,
        $comments: $config-comments,
        $filters: $config-filters,
        $forum: $config-forum,
        $guide: $config-guide,
        $header: $config-header,
        $infractions: $config-infractions,
        $login: $config-login,
        $mapper: $config-mapper,
        $nav: $config-nav,
        $notifications: $config-notifications,
        $pm: $config-pm,
        $result: $config-result,
        $streams: $config-streams,
        $talentCalc: $config-talentCalc,
        $tournament: $config-tournament,
        $user: $config-user,
        $widget: $config-widget

    ) {

        //// BLOCK

        // Breadcrumbs

        @if ($breadcrumb) { .b-breadcrumb-a { @include b-breadcrumb-a; } }

        // Definition

        @if ($definition) { .b-definition-a { @include b-definition-a; } }

        // Breadcrumbs

        @if ($figure) { .b-figure-a { @include b-figure-a; } }

        // Gallery

        @if ($gallery) { .b-gallery-a { @include b-gallery-a; } .p-gallery-a { @include p-gallery-a; } }

        // Infograph

        @if ($infograph) { .b-infograph-a { @include b-infograph-a; } .b-infograph-b { @include b-infograph-b; } }

        // List

        @if ($list) { .b-list-a { @include b-list-a; } .b-list-b { @include b-list-b; } }

        // Media

        @if ($media) { .b-media-a { @include b-media-a; } }

        // Pagination

        @if ($pagination) { .b-pagination-a { @include b-pagination-a; } .b-pagination-b { @include b-pagination-b; } .b-pagination-c { @include b-pagination-c; } }

        // Poll

        @if ($poll) { .b-poll-a { @include b-poll-a; } }

        // Rating

        @if ($rating) { } // Null

        // Search

        @if ($search) { .b-search-a { @include b-search-a; } .b-search-b { @include b-search-b; } }

        // Shoutbox

        @if ($shoutbox) { .b-shoutbox-a { @include b-shoutbox-a; } }

        // Social

        @if ($social) { .b-social-a { @include b-social-a; } }

        // Tab

        @if ($tab) { .b-tab-a { @include b-tab-a; } .b-tab-b { @include b-tab-b; } }

        // Table

        @if ($table) { .b-table-a { @include b-table-a; } }

        // Tag

        @if ($tag) { .b-tag-a { @include b-tag-a; } }

        // Tag Cloud

        @if ($tagCloud) { .b-tagCloud-a { @include b-tagCloud-a; } }

        // User Action

        @if ($userAction) { .b-userAction-a { @include b-userAction-a; } }

        //// PLUGIN

        // Article

        @if ($article) { .p-article-a { @include p-article-a; } }

        // Attachments

        @if ($attachments) { .p-attachments-a { @include p-attachments-a; } }

        // Avatar Select

        @if ($avatar) { .p-avatar-select-a { @include p-avatar-select-a; } }

        // Base

        @if ($base) { .p-base-a { @include p-base-a; } .p-base-b { @include p-base-b; } }

        // Browser

        @if ($browser) { .p-browser-a { @include p-browser-a; } .p-browser-b { @include p-browser-b; } }

        // Comments

        @if ($comments) { .p-comments-a { @include p-comments-a; } .p-comments-b { @include p-comments-b; } }

        // Filters

        @if ($filters) { .p-filters-a { @include p-filters-a; } }

        // Forum

        @if ($forum) { .p-forum-a { @include p-forum-a; } }

        // Guide

        @if ($guide) { .p-guide-a { @include p-guide-a; } }

        // Header

        @if ($header) { .p-header-a { @include p-header-a; } .p-header-b { @include p-header-b; } }

        // Infractions

        @if ($infractions) { .p-infractions-a { @include p-infractions-a; } }

        // Login

        @if ($login) { .p-login-a { @include p-login-a; } }

        // Mapper

        @if ($mapper) { .p-mapper-a { @include p-mapper-a; } }

        // Nav

        @if ($nav) { .p-nav-a { @include p-nav-a; } .p-nav-b { @include p-nav-b; } }

        // Notifications

        @if ($notifications) { .p-notifications-a { @include p-notifications-a; } }

        // Private Messages

        @if ($pm) { .p-pm-a { @include p-pm-a; } }

        // Profile

        @if ($user) { .p-user-a { @include p-user-a; } }

        // Result

        @if ($result) { @include p-result-a; }

        // Streams

        @if ($streams) { .p-streams-a { @include p-streams-a; } }

        // Talent Calculator

        @if ($talentCalc) { .p-talentCalc-a { @include p-talentCalc-a; } }

        // Tournament

        @if ($tournament) { .p-tournament-a { @include p-tournament-a; } }

        // Widget

        @if ($widget) { .p-widget-a { @include p-widget-a; } }

    }

@include init;