$ad-counter: 0 !default;

@while $ad-counter < 1 {

// Theme -> Ads

// ✎ All Ad Units

// ⌚ Level 1.00 (04/03/12)

// ☍ Components:
//     - Null

// ☆ Sub-Classes:
//     - Null

// ☯ Browser Support:
//     - IE7
//     - IE8
//     - IE9
//     - FF3+
//     - Chrome
 
// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-


// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

// ★★ Base Selectors

// Hidden Elements if premium 

.hide-ads .atf-ad-badge,
.hide-ads .atf-ad-medRect,
.hide-ads .btf-ad-medRect,
.hide-ads .atf-ad-leaderboard,
.hide-ads .btf-ad-leaderboard { display: none !important; visibility: hidden !important; }
.hide-ads .ad-removal { display: none !important; visibility: hidden !important; }
#analytics { display: none !important; visibility: hidden !important; }

// If site skin active

.ad-skin #site-main { overflow: hidden; }
.ad-skin .p-header-a { background: $adSkinHeader-bg; }
.atf-ad-medRect,
.btf-ad-medRect {
	background: $ad-bg;
	margin-bottom: $leading;
	> iframe,
	> object,
	> embed,
	> img,
	> div,
	> span {
		display: block;
		margin: 0 auto;
	}

    .ad-removal { display: block; font-size: $font-sizeSmaller; text-align: center; }
}

.atf {
    position: relative;
    padding: $atf-padding;
	@include group;
    text-align: center;
	.ie7 & .atf-ad-badge,
	.ie7 & .atf-ad-leaderboard { float: left; } // Inline block would not work here for some reason in ie7
	.atf-ad-badge {
		@include inline-block;
		line-height: 0px;
		text-align: center;
		position: relative;
		z-index: 2; // Netbar - 4 | Header - 3 | Ads - 2 | Content - 1
		margin-right: 7px !important;
        padding: $atfAd-padding;
		width: 240px;
	}
	.atf-ad-leaderboard {
		@include inline-block;
		line-height: 0px;
        padding: $atfAd-padding;
		text-align: center;
		position: relative;
		z-index: 2; // Netbar - 4 | Header - 3 | Ads - 2 | Content - 1
	    > iframe,
		> object,
		> embed,
		> img,
		> div,
		> span {
			display: block;
			margin: 0 auto;
		}
	}
}

$ad-counter: $ad-counter + 1;

}