$ad-counter: 0 !default;

@while $ad-counter < 1 {

// Theme -> Ads

// ✎ All Ad Units

// ⌚ Level 1.1.1 (09/20/12)
 
// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-


// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

// ★★ Base Selectors

// Hidden Elements if premium 

.hide-ads .atf-ad-badge,
.hide-ads .atf-ad-medRect,
.hide-ads .btf-ad-medRect,
.hide-ads .atf-ad-leaderboard,
.hide-ads .btf-ad-leaderboard { display: none !important; visibility: hidden !important; }
.hide-ads .ad-removal { display: none !important; visibility: hidden !important; }
#analytics,
.btf-ad-analytic { display: none !important; visibility: hidden !important; }

// If site skin active

.ad-skin #site-main { @include boxShadow($adskin-boxShadow); cursor: default; }
.ad-skin .p-header-a { background: $adSkinHeader-bg; }
.ad-skin .atf .atf-ad-badge { display: none !important; visibility: hidden !important; }
.ad-skin #site { position: relative; background: $adskin-bgGradient; background-position: $adskin-bgGradientPosition; }

// Med Rec

.atf-ad-medRect,
.btf-ad-medRect {
	background: $ad-bg;
	margin-bottom: $leading;
	> iframe,
	> object,
	> embed,
	> img,
	> div,
	> span {
		display: block;
		margin: 0 auto;
	}
    .ad-removal { display: block; font-size: $font-sizeSmaller; text-align: center; }
}

.atf {
    position: relative;
    padding: $atf-padding;
	@include group;
    text-align: center;
	.ie7 & .atf-ad-badge,
	.ie7 & .atf-ad-leaderboard { float: left; } // Inline block would not work here for some reason in ie7
	.atf-ad-badge {
		@include inline-block;
		line-height: 0px;
		text-align: center;
		position: relative;
		z-index: 2; // Netbar - 4 | Header - 3 | Ads - 2 | Content - 1
		margin-right: 7px !important;
        padding: $atfAd-padding;
		width: 240px;
	}
	.atf-ad-leaderboard {
		@include inline-block;
		line-height: 0px;
        padding: $atfAd-padding;
		text-align: center;
		position: relative;
		z-index: 2; // Netbar - 4 | Header - 3 | Ads - 2 | Content - 1
	    > iframe,
		> object,
		> embed,
		> img,
		> div,
		> span {
			display: block;
			margin: 0 auto;
		}
	}
	.atf-ad-medRect {
		background: $atfAdMedRec-bg;
		padding: $atfAdMedRec-padding;
	}
}
.atf-ad-leaderboard {
	min-width: 728px;
	img[width="1"] { display: none !important; visibility: hidden !important; }
}
.atf-ad-badge .ad-removal,
.atf-ad-leaderboard .ad-removal,
.btf-ad-leaderboard .ad-removal { display: none !important; visibility: hidden !important; }
.btf { text-align: center; margin-bottom: 20px; }

// Positioning of site skins per site
.site-reignofgaming.ad-skin { background-position: center 94px !important; }
.site-fpsgeneral.ad-skin { background-position: center 40px !important; }
.site-darthhater.ad-skin { background-position: center 33px !important; }

$ad-counter: $ad-counter + 1;

}