// ************************************************************************************************************************
// * Package -> News-Forum                                                                                                *
// ************************************************************************************************************************

// --------------------------------------------------------- //
// Variables                                              
// --------------------------------------------------------- //

    @import "vars";

// --------------------------------------------------------- //
// Config                                              
// --------------------------------------------------------- //

    @import "../../config";
    
    // Block

    $config-shoutbox: true;
    $config-tag: true;
    $config-tagCloud: true;

    // Plugin

    $config-article: true;
    $config-attachments: true;
    $config-browser: true;
    $config-comments: true;
    $config-forum: true;
    $config-infractions: true;
    $config-result: true;
    $config-streams: true;
    $config-widget: true;

    // Layout

    @import "layout";