// ************************************************************************************************************************
// * Package -> Database                                                                                                  *
// ************************************************************************************************************************

// --------------------------------------------------------- //
// Variables                                              
// --------------------------------------------------------- //

    @import "vars";

// --------------------------------------------------------- //
// Config                                              
// --------------------------------------------------------- //

    // Plugin

    $config-filters: true;
    $config-mapper: true;
    $config-talentCalc: true;

    // Layout

    @import "layout";

// END package-database