// ************************************************************************************************************************
// * Utility -> Frame (u-frame)                                                                                           *
// ************************************************************************************************************************

.u-frame-a {
    background: $frame-bg;
    @include backgroundGradient($frame-gradient);
    @include boxShadow($frame-boxShadow);
    display: block;
    padding: $frame-size;
    overflow: hidden;
}