// Utility -> Form Elements (u-form-z)

// ✎ UNIQUE - Standard form elements

// ⌚ Level 1.00 (04/03/12)

// ☍ Components:
//     - Null

// ☆ Sub-Classes:
//     - Null

// ☯ Browser Support:
//     - Testing Required


// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

// ★★ Base Selectors

form { margin: 0px 0px $leading 0px; }

// Label

label { display: block; line-height: $leading; margin-bottom: 4px; }

// Inputs, Textarea, & Select

input[type="text"], 
input[type="search"], 
input[type="password"], 
input[type="email"], 
textarea,
select {
    background-color: $formBg-color;
    background: $formBg-color $formBg-image;
    border: $formBorder-width $formBorder-style $formBorder-color;
    @include borderRadius($formBorder-radius);
    @include boxShadow($formBoxShadow); // This does not apply to select (see below)
    color: $formFont-color;
    padding: $formPadding;
    width: $formWidth;
    @include transition(border, 0.2s, linear);
    @include transition(box-shadow, 0.2s, linear);
}

input,
button,
select,
textarea { font-family: $formFont-family; }

select { @include boxShadow(none); max-width: 100%; width: auto; }

textarea { height: 200px; }

textarea { margin-bottom: 4px; padding: 10px; width: 100%; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; display: block; padding: 0; width: 100%; }

input[type="text"]:hover, 
input[type="search"]:hover, 
input[type="password"]:hover, 
input[type="email"]:hover, 
textarea:hover { background-color: $formBg-color-hover; }

input[type="text"]:focus, 
input[type="search"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
textarea:focus {
    border-color: $formBorder-color-active;
    @include boxShadow($formBoxGlow);
    background-color: $formBg-color-hover;
    outline: 0;
    outline: thin dotted \9;
}

// PlaceHolder

input::-webkit-input-placeholder { color: $formFont-color-placeHolder; }
input:-moz-placeholder { color: $formFont-color-placeHolder; }

// Misc Elements

input[type="image"], 
input[type="checkbox"], 
input[type="radio"] {
    @include borderRadius(0);
    cursor: pointer;
    height: auto;
    margin: 3px 0;
    padding: 0;
    width: auto;

    // IE Fixes

    .ie7 & { margin-top: 0; }

    .ie7 &,
    .ie8 &,
    .ie9 & { border: 0; }
}

input[type="image"] { border: 0; }

input[type="file"] {
    @include boxShadow(none);
    border: initial;
    line-height: initial;
    padding: initial;
    width: auto;

    // IE Fixes

    .ie7 &,
    .ie8 &,
    .ie9 & { line-height: 18px; }
}

input[type="hidden"] { display: none; }

// Button & Submit

input[type="button"],
input[type="reset"],
input[type="submit"] { height: auto; width: auto; }

// Form Errors

.field-errors { color: red; display: inline-block; }

// Legacy Elements

.help-block { margin-bottom: 10px; display: block;}
.form-field .help-block { margin-bottom: 4px; font-size: $font-size; }
.form-field { margin-bottom: 10px; }
.form-footer {
    margin-bottom: $leading;	 
}

.form-field-boolean-field {
    input[type="checkbox"],
    label { display: inline-block; line-height: 18px; margin-bottom: 0; }
}

.checkbox {
    input[type="checkbox"],
    label { display: inline-block; line-height: 18px; margin-bottom: 0; }
}

.radio {
    input[type="radio"],
    label { display: inline-block; line-height: 18px; margin-bottom: 0; }
}

.u-form-search_horizontal {
    margin-bottom: $leading;
     > div { display: inline-block; }
}

/* DEV */
input.full-width { width: 100%; }

.tree-field-level-1 { text-indent: 10px; }
.tree-field-level-2 { text-indent: 10px; }
.tree-field-level-3 { text-indent: 20px; }
.tree-field-level-4 { text-indent: 30px; }
.tree-field-level-5 { text-indent: 40px; }
.tree-field-level-6 { text-indent: 50px; }
.tree-field-level-7 { text-indent: 60px; }

.horizontal div.form-field,
.horizontal div.form-footer,
.horizontal label
{
    @include inline-block;
    margin-bottom: 0px;
}

.horizontal .form-actions
{
    margin-bottom: 0px;
}

div.u-form-tabular
{

    display: table;
    width: 100%;
    margin-bottom: 6px;
}

div.u-form-tabular div.form-field > label { white-space: nowrap; }
div.u-form-tabular div.form-field,
div.u-form-tabular label 
{ 
    display: table-cell; 
    vertical-align: top;
    padding-left: 6px; 
}

div.u-form-tabular label 
{
    padding-bottom: 6px;
    margin: 0px;
}

div.u-form-tabular div.form-field:first-child,
div.u-form-tabular label:first-child
{ 
    padding-left: 0px; 
}
div.u-form-tabular div.form-field.primary, 
div.u-form-tabular label > .primary
{ 
    width: 100%; 
}
div.u-form-tabular div.form-field > input,
div.u-form-tabular label > input,
div.u-form-tabular div.form-field > select,
div.u-form-tabular label > select
{
    min-width: 100%;
}

div.u-form-tabular label input[type=checkbox]
{
    min-width: inherit;
}