// ★★ Utility -> Icons (u-icon-z) ★★

// ✎ UNIQUE - Standard icon mixin and sprite package

// ⌚ Level 1.00 (04/03/12)

// ☍ Components:
//     - Null

// ☆ Sub-Classes:
//     - Null

// ☯ Browser Support:
//     - Testing Required
 
// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

// ★★ Mixin

@mixin u-icon-z {
    @include inline-block;
    height: 12px;
    line-height: 0;
    vertical-align: middle;
    width: 12px;
}

.u-icon-z {

    // DropDown

    .u-icon-dropDown { @include u-icon-z; }

} // END u-icon-z

// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-


// Next

a.go-next {
	background: $icon-goNext;
	height: 10px;
	width: 10px;
	display: inline-block;
	text-indent: -9999px;
}

// Streams

.u-icon-stream {
	background: $icon-streams;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: text-top;
}

// Comments

.p-comment-actions {
	> .user-actions { 
		> .user-action {
			.u-icon { @include inline-block; background: $icon-ua-sprite; width: 12px; height: 12px; } 
			a:hover > span { text-decoration: underline; } 
			span { position: relative; top: 1px; }
			.u-icon-quote {
				background-position: $icon-ua-quote;
			}
			.u-icon-reply {
				background-position: $icon-ua-reply;
			}
			.u-icon-delete {
				background-position: $icon-ua-delete;
			}
			.u-icon-report {
				background-position: $icon-ua-report;
			}
			.u-icon-edit {
				background-position: $icon-ua-edit;
			}
			.u-icon-edit-attachments {
				background-position: $icon-ua-edit-attachments;
			}
			.u-icon-spam {
				background-position: $icon-ua-spam;
			}
			.u-icon-not-spam {
				background-position: $icon-ua-not-spam;
			}
            .u-icon-warn {
				background-position: $icon-ua-warn;
			}
            .u-icon-warned {
				background-position: $icon-ua-warn;
                font-weight: bold;
			}
            .u-icon-add-note {
				background-position: $icon-ua-add-note;
			}
            .u-icon-remove-note {
				background-position: $icon-ua-remove-note;
			}
		}
	}
}
