// Utility -> tooltips (u-tooltips-a)

// ✎ Standard project tooltips

// ⌚ Level 1.00 (02/017/12)

// ☍ Components:
//     - Null

// ☆ Sub-Classes:
//     - Null

// ☯ Browser Support:
//     - Testing Required

// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

.tip { border-bottom: $tooltip-border; cursor: default; }

a.tip {
    border-bottom: none;
    cursor: pointer; // If attached to link, user normal pointer

    .u-typography-format & { border-bottom: $tooltip-border; text-decoration: none; }
}

.u-tooltips-a {
    background: $primaryColor;
    @include borderRadius($border-radius);
    @include boxShadow(0 0 6px rgba(0,0,0,.1));
    border: $box-border;
    padding: 10px;
    width: auto; 
    max-width: 400px; 
    z-index: 100000006;
}