// Utility -> Vanity

// ✎ Standard project vanities

// ⌚ Level 1.00 (06-06-12)

// ☍ Components:
//     - Null

// ☆ Sub-Classes:
//     - Null

// ☯ Browser Support:
//     - Testing Required

// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

.mceContentBody {
    background: $tinyMCE-bg;
    color: $font-color;

    td { color: $font-color; }
}

#tinymce .spoiler
{
    border: 1px solid gray;
    background: $box-bg;
    padding: 5px;
    > p:last-child { margin-bottom: 0; }
}

.mceToolbar a.mce_spoiler > span.mceIcon
{
    background: url("#{$imageURL-core}/ui/exclamation.png") no-repeat center center;   
    display: block;
    width: 100%;
    height: 100%;
}