$vanity-counter: 0 !default;

@while $vanity-counter < 1 {

    // Utility -> Vanity

    // ✎ Standard project vanities

    // ⌚ Level 1.00 (02/017/12)

    // ☍ Components:
    //     - Null

    // ☆ Sub-Classes:
    //     - Null

    // ☯ Browser Support:
    //     - Testing Required
 
    // -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

    .avatar { 
	    display: inline-block; 
	    img {
		    vertical-align: middle;
	    }
	    &.user-role-premium img {
            padding: 3px;
            border-width: 1px;
            border-style: solid;
		    border-color: transparent transparent #E5520D transparent;
		    background: #FF7B0D;
		    @include backgroundGradient(linear-gradient(top,#FF7B0D 0,#FFA84C 100%));
	    }
	    &.user-role-moderator img,
	    &.user-role-forum-moderator img {
            padding: 3px;
            padding: 3px;
            border-width: 1px;
            border-style: solid;
		    border-color: transparent transparent #9B4A94 transparent;
		    background: #CB60B3;
		    @include backgroundGradient(linear-gradient(top, #ba59a6 0%,#cb60b3 100%));
	    }
    }

    /* Premium Member */
    span.user-role-curse-premium,
    span.user-role-premium { color: #d35114; padding-left: 14px; background: url("#{$imageURL-core}/icons/12x12/icon-curse-dragon-12x12.png") no-repeat left center; }

    /* Moderator */
    a.user-role-moderator { color: #CB60B3; }
    span.user-role-moderator { color: #CB60B3; padding-left: 0px; background: none; }

    /* Forum Moderator */
    a.user-role-forum-moderator { color: #CB60B3; }
    span.user-role-forum-moderator { color: #CB60B3; padding-left: 0px; background: none; }

    /* Curse */
    a.user-role-curse { color: #00B4FF; }
    span.user-role-curse { color: #00C0FF; padding-left: 14px; background: url("#{$imageURL-core}/icons/12x12/icon-curse-flame-12x12.png") no-repeat left center; }

    /* Authors */
    a.user-role-author { color: #008500; }
    span.user-role-author { color: #008500; padding-left: 0px; background: none; }

    /* Legacy */
    .comment-legacy-user span.user-role-author { padding-left: 0px; background: none; }

    /* Staff */
    a.user-role-staff { color: $link-color; }
    span.user-role-staff { color: $link-color; padding-left: 20px; background: url("#{$imageURL-local}/icons/12x12/icon-staff-12x12.png") no-repeat left center; }

    $vanity-counter: $vanity-counter + 1;
}