// Utility -> z-index (u-zindex-a)

// ✎ Standard project z-index

// ⌚ Level 1.00 (02/017/12)

// ☍ Components:
//     - Null

// ☆ Sub-Classes:
//     - Null

// ☯ Browser Support:
//     - Testing Required

// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

.flash-messages { z-index: 7; } // positioning already set

#jquery-lightbox { z-index: 6 !important; } // !important overrides js style

#jquery-overlay { z-index: 5 !important; } // !important overrides js style

#netbar { position: relative; z-index: 4; }

header.main { position: relative; z-index: 3; }

.u-ad-leaderboard,
.ad-leaderboard,
.ad-med-rect { position: relative; z-index: 2; }

#content { position: relative; z-index: 1; }