// Block -> breadcrumb (b-breadcrumb-a)

// ☍ Components:
//     - Item (b-breadcrumbs-item)
//     - Wrapper (b-breadcrumbs-wrapper)

// ☆ Sub-Classes:
//     - Null

// $ Variables:
//      a.) Background
//          - $breadcrumb-bg
//          - $breadcrumbHomeItem-bg
//          - $breadcrumbItem-bg
//      a.) Border
//          - $breadcrumb-border
//          - $breadcrumb-borderRadius
//      a.) Box-Model
//          - $breadcrumb-borderWidth
//          - $breadcrumb-boxShadow
//          - $breadcrumb-margin
//          - $breadcrumb-padding
//          - $breadcrumbHomeItem-borderRadius
//          - $breadcrumbHomeItem-padding
//          - $breadcrumbItem-seperator
//      a.) Typography
//          - $font-color
//          - $breadcrumb-fontFamily
//          - $breadcrumb-fontLineheight
//          - $breadcrumb-fontSize
//          - $breadcrumb-fontStyle
//          - $breadcrumb-fontTransform
//          - $breadcrumb-fontWeight
//          - $breadcrumbItem-color
//      a.) Misc
//          - $color
//          - $direction
//          - $location

// --------------------------------------------------------- //
//  Mixin
// --------------------------------------------------------- //

@mixin b-breadcrumb-a {

    @include borderRadius($breadcrumb-borderRadius);
    @include font($breadcrumb-fontStyle,$breadcrumb-fontTransform,$breadcrumb-fontWeight,$breadcrumb-fontSize,$breadcrumb-fontLineheight,$breadcrumb-fontFamily);
    @include boxShadow($breadcrumb-boxShadow);

    background: $breadcrumb-bg;
    border: $breadcrumb-border;
    border-width: $breadcrumb-borderWidth;
    clear: both;
    margin: $breadcrumb-margin;
    padding: $breadcrumb-padding;
    text-align: left;

    // Wrapper

    .b-breadcrumb-wrapper { 

        @include group;

        // Item

        .b-breadcrumb-item {
            @include inline-block;
            background: $breadcrumbItem-bg;
            border: $breadcrumbItem-border;
            border-width: $breadcrumbItem-borderWidth;
            margin: $breadcrumbItem-margin;
            padding: $breadcrumbItem-padding;
            white-space: nowrap;

            a { 
                @include inline-block;
                color: $breadcrumbItem-color; 
                &:hover { color: $breadcrumbItem-colorHover; } 
            }

            & a.section { // Dropdowns via JS
                @include triangle($direction: "down", $location: ":after", $color: $breadcrumbItem-color);
                &:after { margin-left: 6px; }
            }
            
            &.home { 
                @include borderRadius-top-left($breadcrumbHomeItem-borderRadius); 
                background: $breadcrumbHomeItem-bg; 
                padding: $breadcrumbHomeItem-padding; 
            }
            
            & + .b-breadcrumb-item {
                
                &:before { content: $breadcrumbItem-seperator; }

                // IE Fixes
            
                .ie7 & {
                    border-left: 1px solid $font-color;
                    margin-left: .5em;
                    padding-left: .5em;
                }
            }
        }
    }

} // END b-breadcrumb-a