// ★★ Block -> Definition (b-definition-a) ★★

// ✎ Definition list with icon column and description column

// ☍ Components:
//     - Title (b-definition-title)
//     - Description (b-definition-desc)
//     - Icon (b-definition-icon)

// ☆ Sub-Classes:
//     - Null

// $ Variables:
//      a.) Box-Model
//          - $definitionAvatar-height
//          - $definitionAvatar-width
//          - $leading
//      a.) Typography
//          - $definitionTitle-size

// --------------------------------------------------------- //
//  Mixin
// --------------------------------------------------------- //


@mixin b-definition-a {

    @include group;
    @if ($definitionAvatar-height != 0) { min-height: $definitionAvatar-height; }
    @if ($definitionAvatar-width != 0) { padding-left: $definitionAvatar-width + 10 };
    margin: 0;

    // Title

    .b-definition-title { font-size: $definitionTitle-size; margin: 0 0 $leading; position: relative; }
    .b-definition-desc + .b-definition-title { margin-top: $leading; } // Add space if two definition titles in same definition list

    // Avatar

    .avatar {
        height: $definitionAvatar-height;
        margin: 0;
        position: absolute;
        top: 0; left: -($definitionAvatar-width + 10);
        width: $definitionAvatar-width;
    }

    // Description
   
    .b-definition-desc { margin: 0 0 $leading; }

} // END b-definition-a