// Block -> Figure (b-figure-a)

// ✎ Standard figure element that contains an image and caption

// ☍ Components:
//     - Caption (b-figure-caption)

// ☆ Sub-Classes:
//     - Null

// @ Includes: 
//     - borderRadius
//     - boxShadow
//     - font
//     - inline-block

// $ Variables:
//      a.) Background
//          - $figureCaption-bg
//      b.) Border
//          - $figureCaption-border
//          - $figureCaption-borderRadius
//      c.) Box-Model
//          - $figure-width
//          - $figureCaption-boxShadow
//          - $figureCaption-margin
//          - $figureCaption-padding
//      d.) typography
//          - $figureFont-weight
//          - $figureFont-size
//          - $figureFont-lineHeight
//          - $figureFont-family
//          - $figureFont-textTransform
//          - $font-family
//          - $font-size
//          - $font-weight
//          - $line-height
//          - $text-transform

// --------------------------------------------------------- //
//  Mixin
// --------------------------------------------------------- //

@mixin b-figure-a {

    @include inline-block;
    width: $figure-width;
    
    // Image

    img { display: block; }

    // Caption

    .caption {
        background: $figureCaption-bg;
        border: $figureCaption-border;
        @include borderRadius($figureCaption-borderRadius);
        @include boxShadow($figureCaption-boxShadow);
        display: block;
        @include font(
            $font-weight: $figureFont-weight,
            $font-size: $figureFont-size,
            $line-height: $figureFont-lineHeight,
            $font-family: $figureFont-family,
            $text-transform: $figureFont-textTransform
        );
        margin: $figureCaption-margin;
        padding: $figureCaption-padding;
        text-align: center;
    }

} // END b-figure-a