// Block -> List (b-list-a)

// ✎ Horizontal, blocked container list with default float behavior

// ☍ Components:
//     - Item (b-list-item)
//     - Label (b-list-label)
//     - Overlay (b-list-overlay)
//     - Title (b-list-title)

// ☆ Sub-Classes:
//     - Null

// $ Variables:
//      a.) Background
//          - $listGridItem-bg
//          - $listGridItemFull-bg
//          - $listGridItemHover-bg
//          - $listGridPortrait-bg
//      b.) Box-Model
//          - $leading
//          - $listPadding
//          - $listGridItem-boxShadow
//          - $listGridItem-height
//          - $listGridItem-margin
//          - $listGridItem-padding
//          - $listGridItem-width
//          - $listGridItemFull-boxShadow
//          - $listGridItemFull-height
//          - $listGridItemFull-margin
//          - $listGridItemFull-width
//          - $listGridItemPortraitFull-boxShadow
//          - $listGridPortrait-padding
//          - $listGridPortrait-width
//      c.) Typography
//          - $font-color
//          - $listGridItem-color
//          - $listGridItemFull-color
//          - $listGridItemHover-color

// --------------------------------------------------------- //
//  Mixin
// --------------------------------------------------------- //

@mixin b-list-a {
    
    // FlexBox [Flex Box removed due to unstable w3 spec, utilizing fallbacks]

    // @include boxFlex-container;
    @include group;

    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    
    // Fall-back 1 of 2

    & { display: table; }
    .ie7 & { display: block; }

    // Item

    .b-list-item {
        // @include boxFlex-item;
        float: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
        vertical-align: top;

        > a { display: block; }

        // Fallback 2 of 2

        & { display: table-cell; }

        .ie7 & { display: block; float: left; }
    }

    // Label

    .b-list-label { cursor: pointer; }

    // Overlay

    .b-list-overlay {
        display: block;
        position: absolute;
        bottom: 0; left: 0;
        text-align: center;
        width: 100%;
    }

    // Title

    .b-list-title { display: block; text-align: center; }

    // SUB-CLASS: Float

    &.b-list_float {
        display: block;
        width: auto;

        .b-list-item {
            float: left;
            list-style-type: none;
            position: relative;

            & + .b-list-item { margin-left: $listPadding / 2; padding-left: $listPadding / 2; } // Allows for dividers
            > :first-child { display: block; } // Block containing element
        }
    }

    // SUB-CLASS: Equalize

    &.b-list_equalize {

        .b-list-item {
            margin-left: $listPadding / 2;
            margin-right: $listPadding / 2;
            padding-left: $listPadding / 2;
            padding-right: $listPadding / 2;
        }
    }

    // SUB-CLASS: InlineBlock

    &.b-list_inlineBlock {
        display: inline-block;
        padding: 0;

        .b-list-item { @include inline-block; float: none; 
            
        }
    }

    // SUB-CLASS: InlineBlock_Split

    &.b-list_inlineBlock_split {
        > .b-list-item { @include inline-block; width: 44%; margin: 0 2%; }
        &.col-3 { > .b-list-item { @include inline-block; width: 30%; margin: 0 1%; } }
    }

    // SUB-CLASS: Space right

    &.b-list_spaceRight {
        
        .b-list-item {
            margin-left: 0;
            margin-right: $listPadding / 2;
            padding-left: 0;
            padding-right: $listPadding / 2;

            & + .b-list-item { padding-left: 0; margin-left: 0; }
        }
    }

    // SUB-CLASS: Unchunk

    &.b-list_unchunk {

        .b-list-item > :first-child { display: inline; } // Remove default behavior of the first child being a containing block
    }

    // SUB-CLASS: Grid

    &.b-list_grid {
        display: block;

        // Item

        .b-list-item {
            float: left;
            margin: 0;
            padding: 0;
            width: $listGridItem-width;
            height: $listGridItem-height + 40;
            margin: $listGridItem-margin;
            margin-top: 5px;
            
            > a {
                background: $listGridItem-bg;
                @include boxShadow($listGridItem-boxShadow);
                color: $listGridItem-color;
                display: block;
                height: $listGridItem-height;
                margin: 0;
                padding: $listGridItem-padding;
                position: relative;
                width: $listGridItem-width;

                &:hover { background: $listGridItemHover-bg; color: $listGridItemHover-color; }
            }
        }

        // Portrait

        .portrait {
            background: $listGridPortrait-bg;
            padding: $listGridPortrait-padding;
            width: $listGridPortrait-width;
        }

        // s-full

        &.s-full {

            .b-list-item {
                width: $listGridItemFull-width;
                height: $listGridItemFull-height;
                margin: $listGridItemFull-margin !important;

                > a {
                    @include group;
                    background: $listGridItemFull-bg;
                    @include boxShadow($listGridItemFull-boxShadow);
                    color: $listGridItemFull-color;
                    padding: $leading/2;
                    width: auto;
                    height: auto;
                }
            }

            .portrait {
                @include col(4);
                @include boxShadow($listGridItemPortraitFull-boxShadow);
                float: left;
                margin: 0;
                margin-left: 0;
            }

            .caption { position: absolute; left: -9999px; }
            .details { overflow: hidden; text-align: right; @include col(8); } // Overflow prevents wrapping around portrait
            .title { font-weight: bold; overflow: hidden; padding-right: 1em; text-overflow: ellipsis; white-space: nowrap; text-align: left; }
            .comments { position: absolute; top: -2px; right: -2px; }
            .author { color: $font-color; display: block; text-align: left; }

            .likes,
            .views { color: $font-color; display: inline-block; margin-top: $leading; }

            .views { margin-left: 6px; }
        }
    }

} // END b-list-a