// Block -> Media (b-media-a)

// ✎ Basic media module

// ☍ Components:
//     - None

// ☆ Sub-Classes:
//     - Null

// $ Variables:
//      a.) Background
//          - $mediaOverlay-bg
//          - $mediaTitle-color-hover
//      b.) Border
//          - $mediaBorder-radius
//      c.) Box-Model
//          - $leading
//      d.) Typography
//          - $mediaTitle-color
//          - $mediaTitle-size

// --------------------------------------------------------- //
//  Mixin
// --------------------------------------------------------- //

@mixin b-media-a {
    
    position: relative;

    // Overlay

    &.b-media_overlay {
        padding-bottom: 0;

        .b-media-content {

            > a {
                @include borderRadius($mediaBorder-radius);
                cursor: pointer; // Cross-browser support
                display: block;
                overflow: hidden;

                &:hover .title { color: $mediaTitle-color-hover; }
            }
        }

        .title {
            background: $mediaOverlay-bg;
            @include borderRadius-bottom($mediaBorder-radius);
            color: $mediaTitle-color;
            font-size: $mediaTitle-size;
            margin-bottom: 0;
            padding: $leading / 2 0;
            position: absolute;
            bottom: 0; left: 0;
            text-align: center;
            width: 100%;
        }
    }

} // END b-media-a