// ★★ Block -> Shoutbox (b-shoutbox-a) ★★

// ✎ Full sized shoutbox

// ⌚ Level 1.00 (02/17/12)

// ☍ Components:
//     - Null

// ☆ Sub-Classes:
//     - Null

// ☯ Browser Support:
//     - Chrome
//     - FireFox
//     - Safari
//     - IE9/8/7
 
// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

@mixin b-shoutbox-a {
    @include group;
    border-bottom: $shoutbox-border;
    clear: both;
    padding-bottom: $leading;
	margin-bottom: $leading;

    > header { @include group; }
    > div { clear: both; }
	form 
	{
		margin: 0px;
	}
    .b-userAction { float: right; }
	.shoutbox-messages {
		max-height: 250px;
		overflow: auto;
		margin-bottom: 10px;

		> table.listing {
			margin-bottom: 0px;
            @include b-table-a;
		}
	}	
	.message {
		.message-time {
			width: 1%;
			white-space: nowrap;
			font-size: 11px;
			padding: 3px;
			abbr[title] { border: none; }
		}
		.message-author {
			padding: 3px;
			> * {
				@include inline-block;
				margin: 0;
			}

			.message-actions {
				float: right;
				opacity: 0.25;
				text-align: right;
				width: 16px;
				a {
					width: 16px;
					height: 16px;
					display: block;		
					&.message-action-delete {
						background: url("#{$imageURL-core}/ui/cancel_round.png");
					}								
				}	
			}
		}

		&:hover {
			.message-author {
				.message-actions {
					opacity: 1;	
				}
			}
		}
	}
	
	form {
		@include group;
		.shoutbox-form-message { float: left; width: 90%; margin-right: 5px; }
		.form-actions { float: left; }
	}
    .b-shoutbox-emotesBox { position: reltiave; z-index: 2; background: $modalBg; border: $modalBorderWidth solid $modalBorderColor; @include boxShadow($modalBoxShadow-outter); }
	.b-shoutbox-emotes { line-height: 30px; }
	.b-shoutbox-emotes > a {        
        background: url("#{$imageURL-core}/emotes/face-embarrassed.png");
        width: 16px;
        height: 16px;
        display: block;
        margin-right: 5px;
		margin-top: 5px;
		cursor: pointer;		
    }

    .shoutbox-emotes-emote > img { max-width: none; }
	.b-shoutbox-emotesBox,
	#shoutbox-context-menu-div { display: none; }

	.u-form-tabular { margin-bottom: 0; }

	// User Actions

	.b-userAction-item a { @include u-button-z; }


} // END shoutbox-a