// ************************************************************************************************************************
// * Block -> Social (b-social-a)                                                                                      *
// *                                                                                                                      *
// * Sub-Classes:                                                                                                         *
// *    - Null                                                                                                            *
// ************************************************************************************************************************

// --------------------------------------------------------- //
// 1.) Mixin                                                   
// --------------------------------------------------------- //

@mixin b-social-a {

    @include group;
    margin-bottom: 0;

    .social-share {
        float: left;
        height: 20px;

        & + .social-share { margin-left: 5px; }
    }

}